@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../img/fondo_001.png) no-repeat;
    background-position: center;
    background-size: cover; 
}
.container {
    position: absolute; /* Posicionamiento absoluto para ubicarlo en la esquina */
    top: 15px; /* Separación desde la parte superior */
    left: 10px; /* Separación desde la izquierda */
    max-width: 245px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    margin: 0; /* Elimina márgenes automáticos */
}
.logo {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200px;
    transform: translate(16%, -50%); /* Elimina el centrado */
}
h2 {
    text-align: center;
    margin-bottom: 0px;
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
}
button[type="submit"] {
    background-color: #b6d957;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: 1px solid black;
}
button[type="submit"]:hover {
    background-color: #759422;
}
